<%= form_for @user do |f| %>

  <%- if @user.errors.any? %>
    <div class="notification is-danger">
      Oops!! parece que algo salio mal.
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :name, class: 'label' %>
    <div class="control">
      <%= f.text_field :name, class: 'input' %>
    </div>
  </div>
  </div class="field">  
     <%= f.label :name, class: 'label' %>

    <%= f.label :inscription %><br>
    <%= f.text_field :inscription %><br>

    <%= f.label :email %><br>
    <%= f.text_field :email %><br>

    <%= f.label :phone %><br>
    <%= f.text_field :phone %><br>

    <%= f.label :password %><br>
    <%= f.password_field :password %><br>

    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %><br>

    <%= f.submit class: 'button is-primary' %>
<% end %>
