<h1 class="title"><%= @transactrion.name %></h1>

<div class="content">
<br><hr>
  <ul>
    <li><%= @transaction.date %></li>
    <li><%= @ftransaction.transaction_type %></li>
    <li><%= @transaction.amount %></li>
    <li><%= @transaction.category %></li>
    <li><%= @transaction.description %></li>
  </ul>
</div>